%p
  %strong Name:
  = @product.name
%p
  %strong Description:
  = @product.description
%p
  %strong Price:
  = @product.price
%form{:action => comments_path, :method =>"post"}
  %textarea{:name => "comment[content]"}
  %p
  %input{:name=>"comment[product_id]", :type=>"hidden",:value => @product.id}
    %button.btn.btn-info.dropdown-toggle{:type => "submit"} Submit
= link_to 'Edit', edit_product_path(@product)
= link_to 'Back', products_path


